.ha-card-front {
  background-size: 1500% auto;
  background-image: url("img/cards.jpg");
}

.ha-card-back {
  background-size: 1500% auto;
  background-image: url("img/cards.jpg");
  background-position-x: calc(100% / 14 * 13);
  background-position-y: 0;
}

:root {
  --h-card-width: 100px;
  --h-card-height: 135px;
  --h-tableau-width: 220px;
  --h-tableau-height: 180px;
}

#hand {
  position: flex;
  width: calc(var(--h-card-width) * 5.5);
  height: calc(var(--h-card-height) * 1.2);
}

#table {
  position: flex;
  width: 100%;
  height: 100%;
}

#discards {
  width: calc(100% - var(--h-card-width));
  height: var(--h-card-height);
}