:root {
  --h-card-width: 100px;
  --h-card-height: 135px;
}

.table {
  width: 100%;
  height: 100%;
}

.deckdiscardplay {
  width: 100%;
  display: flex;
}

.deck {
  width: 20%;
}

.discard {
  width: 60%;
}

.play {
  width: 20%;
}

.players {
  display: flex;
  width: 100%;
}

.player {
  width: 15%;
}

.hand {
  width: 100%;
}

.ha-card-front {
  background-size: 1500% auto;
  background-image: url("img/cards.jpg");
}

.ha-card-back {
  background-size: 1500% auto;
  background-image: url("img/cards.jpg");
  background-position-x: calc(100% / 14 * 13);
  background-position-y: 0;
}