:root {
  --h-card-width: 100px;
  --h-card-height: 135px;
}

.deck {
  width: 10%;
  height: calc(var(--h-card-height) * 1.2);
  background-color: gray;
  float: left;
}

.discard {
  width: 60%;
  height: calc(var(--h-card-height) * 1.2);
  background-color: blue;
  float: center;
}

.play {
  width: 30%;
  height: calc(var(--h-card-height) * 1.2);
  background-color: green;
  float: right;
}

.player {
  width: 15%;
  height: calc(var(--h-card-height) * 1.2);
  background-color: red;
}

.hand {
  width: 55%;
  height: calc(var(--h-card-height) * 1.2);
  background-color: yellow;
}